[mysqld]
user=root
port=3306

datadir=/var/lib/mysql/
init-file=/tmp/init.sql

socket=/run/mysqld/mysqld.sock

bind-address=0.0.0.0
skip-networking = false

[mysqld_safe]
log-error=/var/lib/mysqld/mysqld_err.log
pid-file=/var/lib/mysqld/mysqld.pid
